<div class="col-xs-6 col-xs-offset-3 see-box text-center">

<h2>Upload</h2>

<br/>
<br/>

<%= simple_form_for @post do |f| %>
	<%= f.input :title, label: 'Name', placeholder: 'E.g. OG Kush' %>
	<br/>
	<%= f.input :description, label: 'Description', placeholder: 'E.g. This is some goooood shiiitt...' %>
	<br/>
	<%= f.input :DL, label: "Image" %>
	<br/>
	<%= f.button :submit, :class => 'btn btn-warning' %>

<% end %>

</div>